*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #3a3a3a;
}

.coursesPage{
    /*position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 0 0;
    padding-top: 80px;
    margin-left: 15px;
    margin-right: 15px;*/

    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0;
    padding-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

.coursesTable{
    border-collapse: collapse;
    margin: 50px;
    width: 100%;
}
  
th{
    font-weight: 300;
    padding: 0px 30% 10px 0px;
    font-size: 20px;
}
  
tr{
    height: 20px;
    font-size: 20px;
    width: 100%;
    color:#fefefe;
}
  
.tRow{
    background-color: #474646;
    height: 50px;
    cursor: pointer;
}
  
.hRow{
    height: 50px;
}
  
.yelText{
    color: #dad05d;
}
  
.yelText:hover{
    color: #fff370;
    text-decoration: underline;
}
  
.grText{
    color: #bfbfbf;
}
  
.grText:hover{
    color: #7d7d7d;
}
  
.tRow:hover{
    background-color: #2b2b2b;
}

.cart {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
  
.cart .item{
    background-color: white;
}
  
.cart .item > *{
    color: black;
    margin: 10px;
}
  
.cart .item{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-auto-flow: row;
    border-radius: 15px;
    
}
  
.cart .name{
    grid-column: 1/3;
    font-weight: bold;
}
  
.cart .item input{
    border: 1px solid grey;
    font-size: large;
    font-weight: bold;
    color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
  
.trashbtn{
    width: 45%;
    min-width: 100px;
    text-align: center;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    background-color: #747184; /*#3b3944*/
    cursor: pointer;
    font-size: 20px;
    color: #e9e9e9;
    margin: 10px;
}

.shopField{
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.buttonsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Text{
    width: 80%;
    padding: 2%;
    background-color: #474646;
    border-radius: 15px;
}

.Text h2{
    font-size: 25px;
    color: #e9e9e9;
    margin-bottom: 20px;
}

.Text p{
    font-size: 19px;
    color: #e9e9e9;
    text-align: justify;
    margin-bottom: 15px;
}

.bart{
    float: right;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}

.trashbtn:hover{
    background-color: #53515e;
}

@media screen and (max-width: 1000px){

    .cart{
        flex-direction: column;
    }

}
