*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*======================================= Карточки для логина ============================================*/

.cardsBlock{
    background-color: #10161c;
}
  
.cardsContainer {
    color: rgb(232, 232, 233);
    max-width: 1200px;
    margin: auto;
    font-size: 20px;
    padding: 25px 20px;
}
  
.cardsContainer h1 {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 20px;
}
  
.descriptionCards {
    gap: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.cardsContainer>div {
    margin-bottom: 25px;
}
  
.dynamicCard {
    position: relative;
    width: 300px;
    height: 430px;
    box-shadow: 0 8px 32px 0 rgba(30, 3, 44, 0.37);
    overflow: hidden;
    border-radius: 15px;
}
  
.dynamicCard:hover{
    transform: scale(1.1, 1.1) rotate(3deg) ;
    transition-duration: 1s;
    cursor: pointer;
}
  
.dynamicCard::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 50%;
    z-index: 00;
    background: linear-gradient(transparent, rgb(73, 111, 194), transparent);
    transform-origin: bottom right;
    animation: rotate_cube 5s linear infinite;
}
  
.dynamicCard::after {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 50%;
    z-index: 00;
    background: linear-gradient(transparent, rgb(29, 31, 110), transparent);
    transform-origin: bottom right;
    animation: rotate_cube 5s linear infinite;
    animation-delay: -2.5s;
}
  
.cardBox {
    position: absolute;
    width: 97%;
    height: 97%;
    margin: auto;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background: linear-gradient(to right bottom, rgb(43, 40, 52), rgb(57, 55, 66));
    flex-wrap: wrap;
}
  
.cardBox img {
    position: absolute;
    -webkit-filter: drop-shadow(3px 5px 5px #000);
    filter: drop-shadow(3px 5px 5px rgba(42, 5, 38, 0.267));
    padding: 14px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
  
.cardDetails {
    position: absolute;
    text-align: center;
    font-size: 16px;
    line-height: 1.5em;
    bottom: 0;
    padding: 26px 12px;
}
  
.cardBox h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
}

@keyframes rotate_cube{

    0%{
      rotate: 0deg;
    }
  
    100%{
      rotate: 360deg;
    }
  }

/*========================================================================================================*/

/*================================================= ЛОГИН ================================================*/

.containerForm{
    padding: 20px;
    display: block;
    background-color: #2c3742;
    background: linear-gradient(to top, #10161c, #2c3742);
    height: 100vh;
    width: 100%;
}
  
form{
    height: 500px;
    width: 90%;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    margin-top: 30px;
    z-index: 10;
    display: grid;
    grid-template-rows: repeat(6, 6fr);
}
  
form *{
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
  
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
  
.loginForm > label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
  
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
  
::placeholder{
    color: #e5e5e5;
}
  
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
  
form > button:hover{
    background-color: #11141b56;
    color: #ffffff;
}
  
form > input:focus{
    background-color: #b0b0b0bd;
    color: #ffffff;
    transform: scale(1.1);
    transition-duration: calc(0.5 * 4s);
}

/*========================================================================================================*/
